@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "@catppuccin/tailwindcss/mocha.css";
@custom-variant dark (&:where(.dark.mocha, .dark.mocha *));

html.dark.mocha .astro-code,
html.dark.mocha .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

@theme {
	--animate-type: type 1.2s ease-out 0.4s infinite alternate both;
	--animate-cursor: cursor 0.4s linear infinite alternate;

	@keyframes type {
		0% {
			width: 0ch;
		}
		5%,
		10% {
			width: 1ch;
		}
		15%,
		20% {
			width: 2ch;
		}
		25%,
		30% {
			width: 3ch;
		}
		35%,
		40% {
			width: 4ch;
		}
		45%,
		50% {
			width: 5ch;
		}
		55%,
		60% {
			width: 6ch;
		}
		65%,
		70% {
			width: 7ch;
		}
		75%,
		80% {
			width: 8ch;
		}
		85%,
		90% {
			width: 9ch;
		}
		95% {
			width: 10ch;
		}
	}

	@keyframes cursor {
		0%,
		40% {
			opacity: 0.1;
		}
		60%,
		100% {
			opacity: 1;
		}
	}
}
