---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<main
		class="ml-5 mr-5 mt-5 w-[90%] sm:w-3/4 md:w-1/2 lg:w-1/3 flex flex-col space-between-5"
	>
		<p>
			Hi, I'm Sammy Shear. I'm a linguistics student at the University of
			Pittsburgh and programmer. My academic interests include Yiddish
			dialects, Historical Linguistics, Phonology, and Computational
			Linguistics.
			<br />
			This site mostly serves as a blog for me to write about things I do or
			am interested in, but I will probably add more uses for the site as I
			think of them.
		</p>
		<a
			class="text-ctp-base bg-ctp-sky hover:bg-ctp-blue focus:ring-4 focus:ring-ctp-blue font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none place-self-center"
			href="blog/">Blog</a
		>
	</main>
</Layout>
