---
import { SITE } from "../config";
import "../styles/global.css";

export interface Props {
	title?: string;
	author?: string;
	description?: string;
}

const {
	title = SITE.title,
	author = SITE.author,
	description = SITE.desc
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col place-items-center bg-ctp-base text-ctp-text">
		<slot />
		<script is:inline>
			const theme = (() => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			if (theme === "light") {
				document.documentElement.classList.remove("dark");
				document.documentElement.classList.remove("mocha");
			} else {
				document.documentElement.classList.add("dark");
				document.documentElement.classList.add("mocha");
			}
			window.localStorage.setItem("theme", theme);
		</script>
	</body>
</html>
