---
import { SITE } from "../config";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

export interface Props {
	title?: string;
	author?: string;
	description?: string;
}

const {
	title = SITE.title,
	author = SITE.author,
	description = SITE.desc
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<GoogleAnalytics measurementId="G-LBCCNW1R6M" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="google-adsense-account" content="ca-pub-2655673927481085" />
		<title>{title}</title>
	</head>
	<body
		class="flex flex-col place-items-center bg-ctp-base ctp-latte text-ctp-text dark:ctp-mocha"
	>
		<slot />
		<style is:global>
			html.dark .astro-code,
			html.dark .astro-code span {
				color: var(--shiki-dark) !important;
				background-color: var(--shiki-dark-bg) !important;
				/* Optional, if you also want font styles */
				font-style: var(--shiki-dark-font-style) !important;
				font-weight: var(--shiki-dark-font-weight) !important;
				text-decoration: var(--shiki-dark-text-decoration) !important;
			}
		</style>

		<script is:inline>
			const theme = (() => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			if (theme === "light") {
				document.documentElement.classList.remove("dark");
			} else {
				document.documentElement.classList.add("dark");
			}
			window.localStorage.setItem("theme", theme);
		</script>
	</body>
</html>
